@import "colores";

/*variables*/
$color-primario: red;

* {
    margin-inline-end: 0.5%;
    margin-inline-start: 0.5%;
    padding: 0.2%;
}

.margen {
    margin: 1%;
}

/*animaciones*/
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    }


/*tipografias*/
@font-face {
    font-family: "parrafo";
    src: url("../images/Fuentes/Ubuntu-Italic.ttf");
}
@font-face {
    font-family: "titulos";
    src: url("../images/Fuentes/Merriweather-LightItalic.ttf");
}
/*fondo paginas*/
#fondo-index {
    background-color: #ffffff;
}

#fondo-wwe {
    background-color: #000000;
}

#fondo-aew {
    background-color: #FFE605;
}

#fondo-njpw {
    background-color: #FF1405;
}

#fondo-roh {
    background-color: #000000;
}

/*barra de navegacion paginas*/
.barra-navegacion-index {
    background-image: radial-gradient(#a30404 ,#CC0909);
    color: #ffffff;
    border: 1px solid #000000;
    margin-block: 1%;
}

.barra-navegacion-wwe {
    background-image: linear-gradient(to bottom, #fff, #ffffff6b);
    border: 1px solid #FF1405;
}

.barra-navegacion-aew {
    background-image: linear-gradient(#000, #272727c5);
    border: 1px solid #FFFFFF;
}

.barra-navegacion-njpw {
    background-image: linear-gradient(#FFE605, #ffe60509);
    border: 1px solid #000000;
}

.barra-navegacion-roh {
    background-image: radial-gradient(#FF1405,#00000013 );
    border: 1px solid #FFFFFF;
}

/*contorno videos*/
.contorno1 {
    border: 3px solid #000000;
    padding-right: 1.3%;
    background-image: linear-gradient(to top, #a30404 ,#CC0909);
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.color-letras-video {
    font-family: "titulos", sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.tamaño {
    width: 400px;
    height: 250px;
}

/*color letras barra navegacion*/
.color-link {
    color: #FFFFFF;
}

.color-link-wwe {
    color: #000000;
}

.color-letras-wwe {
    color: #FFFFFF;
}

.color-letras-aew{
    color: #FFFFFF
}

.color-letras-njpw {
    color: #000000;
}

/*tipografia parrafo*/
.font-p {
    font-family: "parrafo", sans-serif;
}

.font-t {
    font-family: "titulos", sans-serif;
}

#font-link {
    font-family: "titulos", sans-serif;
    margin-right: 5%;
    padding-right: 10%;
}

/*color boton*/
.color-boton {
    background-color: #2AF808;
    margin-left: 25px;
}

/*boxmodeling*/
.flexbox {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

#flexbox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.espacio{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    justify-content: space-around;
    margin-bottom: 35px;
    margin-top: 60px;
    margin-left: 250px;
}

.newsletter{
    margin-top: 80px;
    margin-bottom: 25px;
    text-align: center;
}

.pregunta{
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
}

.titulos{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.margenol{
    margin-left: 250px;
}

/*pseudoclases*/
.color-link:hover {
    font-size: 40px;
    color: #91116a;
    border-bottom: 3px solid #FFFFFF;
}

.color-link-wwe:hover{
    font-size: 40px;
    color: #91116a;
    border-bottom: 3px solid #FFFFFF;
}

.color-link-wwe:link{
    color: darkgrey;
}

.color-link:link {
    color: darkgrey;
}

a:visited {
    color: rgb(85, 100, 0);
}

/*mediaqueries*/
@include media-breakpoint-only(md) {}

@media screen and (max-width: 150%) {
    .contorno1 {
    border: 1px solid #CC0909;
    padding-right: 1.3%;
    background-color: #000000;
    margin-top: 1.5%;
    width: "500";
    height: "350";
    }
    .color-letras-video {
    font-family: "titulos", sans-serif;
    color: #CC0909;
    text-align: center;
    }
    .barra-navegacion-index {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #CC0909;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    }
    .pregunta {
    text-align: center;
    }
    .font-t {
    font-family: "titulos", sans-serif;
    text-align: center;
    }
    .margen {
    padding: 3% 3% 3% 3%;
    }
}

/*# sourceMappingURL=estilos.css.map */
